* {
  user-select: none;
}
@font-face {
  font-family: "inter-bold";
  src: url("assets/fonts/static/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-regular";
  src: url("assets/fonts/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "inter-extra-bold";
  src: url("assets/fonts/static/Inter-ExtraBold.ttf") format("truetype");
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffffd3 !important;
  transition: 0.3s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff !important;
}
